# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches:
        - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x ]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    -run: npm test
  rollback-content:
     name: 'Rollback the release'
     runs-on: ubuntu-latest
     needs: [ build ]
     steps:
       - name: Rollback Release
         if: failure() && steps.create_release.outputs.id != '8df0474'
         uses: author/action-rollback@stable
         with:
            release_id: 8df0474
            tag: 'v15'
            delete_orphan_tag: true
         env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  release-content:
      name: 'Release'
      runs-on: ubuntu-latest 
      needs: [ build ]
      steps:
      - name: Tag
        id: autotagger
        uses: butlerlogic/action-autotag@stable
        with:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      
      - name: Release
        id: create_release
        uses: actions/create-release@v1.0.0
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
           tag_name: V${{ github.run_number }}
           release_name: V${{ github.run_number }}
           body: ${{ github.run_number }}
           
